<div class="row">
  <div class="col-xs-12">
    <h4><strong>本当に退会しますか？</strong></h4>
    <div class="attention-messages">
      <h5>退会すると、会員登録情報や<br>
      これまでの購入履歴が閲覧できなくなります。<br>
      退会する場合は、「退会する」をクリックしてください。</h5>
    </div>

    <%= link_to "退会しない", customers_show_path, class: "btn btn-primary" %> <!--マイページへ遷移-->
    <%= link_to "退会する", customers_withdraw_path, method: :PATCH, data: {confirm: "本当に退会しますか？" }, class: "btn btn-danger" %> <!--顧客の退会処理-->
  </div>
</div>