
  <div class="text-center mt">
    <h1><strong>About</strong></h1>
    <h5>ながのCAKEは全国発送可能なケーキ屋さんです。<br>
    お子様からお年寄りの方までお召し上がりいただけるよう、<br>
    様々なバリエーションをご用意しております。<br>
    また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
    ぜひご注文ください。</h5>

    <div class="col-xs-6 mx-auto">
      <%= image_tag "valentine-cake.jpg", alt: "valentine-cake", :size => '700x400' %>
    </div>
  </div>